body {
  margin: 0;
  padding: 0;
  background: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif)no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;

}

* {
  box-sizing: border-box;
}
.mande-box {
  border-radius: 15px;
  width: 600px;
  height: 590px;
  background: url(../imagenes/fondo2.jpg)no-repeat center top;
  position: absolute;
  display: line-block;
  color:#fff; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
}

.mande-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.mande-box form {
  position: relative;
  top: -95px;
  border-radius: 20px;
  margin: 30px 30px;
  padding: 20px 20px;
  background: #000;
  border: 1px solid #fff;
  display: block;
}

textarea {
  padding: 15px  15px;
  position: relative;
  left: 50px ;
  border: 2.5px solid red;
  display: block;
}
.categorias1{
  position: relative;
  left: 30px;
}
.categorias2{
  position: relative;
  left: 30px;
}

h1{
  font-weight: bold;
  color: white;
  font-style: bold;
  font-family: 'Dancing Script', cursive;
  position: relative;
  font-size: 40px;
  left: 50px;
}

.subtitulo{
  font-weight: bold;
  color: white;
  position: relative;
  font-size: 20px;
  top: -20px;
  left:35%;
}



h3 {
  font-weight: bold;
  color:white;
  position: relative;
  left: 45px;
  top: -85px;
}

.btn {
  position: relative;
  top: -130px;
  left: 85%;
  background-color: transparent; 
  border: none; 
  color: white; 
  padding: 10px 10px; 
  font-size: 35px;
  cursor: pointer; 
}
.btn:hover {
  background-color: RoyalBlue;
}

input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.Ayuda {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  line-height: 20px;
  position: relative;
  left: 70%;
  top: -35px;
}

.solicitar {
  position: relative;
  left: 40px;
  top: -5px;
}